.answer{
    min-width: 500px;
    min-height:  100px;
    margin-bottom: 10px;
    color: black;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.correctAnswer {
    background-color: green;
}
.wrongAnswer {
    background-color: red;
}